body {
    background-color: rgb(15, 15, 15);
    color: white;
    margin: auto;
}

#flags {
    width: 20px;
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(10, 10, 10);
    padding: 20px;
}

header {
    margin: auto;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 80vw;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

main {
    margin-top: 125px;
    margin-bottom: 75px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#long-text {
    text-align: left;
}

#nav {
    padding: 8px;
    color: white;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}

#nav:hover {
    background-color: rgb(25, 25, 25);
    transition: 1s;
}

#languages {
    color: white;
    font-size: 30px;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
}

#top-right-fixed {
    margin: 1px;
    font-size: 10px;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
}

#socials {
    max-width: 40px;
    margin: 5px;
}

#socials-list {
    text-align: center;
    margin-bottom: 75px;
}

.jobs-text {
    margin-bottom: 100px;
}

.edu-text {
    margin-bottom: 100px;
}

#ender {
    color: azure;
    text-align: center;
    padding-bottom: 50px;
}

#to-edu {
    color: aqua;
}

#ig-link,
#ig-link:hover,
#ig-link:checked {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: rgba(10, 10, 10, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(10, 10, 10, 0.75);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
}

#navsb {
    font-size: 20px;
    padding: 8px;
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hamburger {
    display: none;
}

@media(max-width: 800px) {
    header {
        text-align: right;
    }

    .hamburger {
        display: block;
    }

    .hideUnder800px {
        display: none;
    }

    #fixed {
        padding-top: 0;
        padding-bottom: 0;
    }

    #nav:hover {
        background-color: rgb(10, 10, 10);
    }
}

@media(max-width: 450px) {
    .sidebar {
        width: 100%;
    }
}